<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Cidadão</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<header>
		<div class="logo-header">
  			<a th:href="@{/}">
  		        <img th:src="@{/images/logo.jpeg}" alt="Logo" />
  			</a>
        </div>			
		<h1>Cadastro de Cidadão</h1>
	</header>
	
	<div class="container">
		<form method="post" th:action="@{/cidadao}" th:object="${cidadao}">
		
		<label for="sigla">Nome</label>
	    <input type="text" th:field="*{nome}">
	    <span class="erro" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
	    <br><br>
		
		<label for="nome">CPF</label>
	    <input type="text" th:field="*{cpf}">
	    <span class="erro" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
	    <br><br>
	    
	    <label for="telefone">Telefone</label>
	    <input type="text" th:field="*{telefone}">
	    <span class="erro" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span>
	    <br><br>
		
		<label for="dataNascimento">Data de nascimento</label>
	    <input type="date" th:field="*{dataNascimento}">
	    <span class="erro" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></span>
	    <br><br>
		
		<label for="email">Email</label>
	    <input type="text" th:field="*{email}">
	    <span class="erro" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	    <br><br>
		
		<label for="senha">Senha</label>
	    <input type="password" th:field="*{senha}">
	    <span class="erro" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
	    <br><br>
		<fieldset>
			<legend>Endereço</legend>

			<label for="cep">CEP</label>
		    <input type="text" th:field="*{endereco.cep}">
		    <span class="erro" th:if="${#fields.hasErrors('endereco.cep')}" th:errors="*{endereco.cep}"></span>
		    <br><br>
			
			<label for="estado">Estado</label>
		    <input type="text" th:field="*{endereco.estado}">
		    <span class="erro" th:if="${#fields.hasErrors('endereco.estado')}" th:errors="*{endereco.estado}"></span>
		    <br><br>
			
			<label for="cidade">Cidade</label>
		    <input type="text" th:field="*{endereco.cidade}">
		    <span class="erro" th:if="${#fields.hasErrors('endereco.cidade')}" th:errors="*{endereco.cidade}"></span>
		    <br><br>
			
			<label for="logradouro">Logradouro</label>
		    <input type="text" th:field="*{endereco.logradouro}">
		    <span class="erro" th:if="${#fields.hasErrors('endereco.logradouro')}" th:errors="*{endereco.logradouro}"></span>
		    <br><br>
			
			<label for="numero">Numero</label>
		    <input type="number" th:field="*{endereco.numero}">
		    <span class="erro" th:if="${#fields.hasErrors('endereco.numero')}" th:errors="*{endereco.numero}"></span>
		    <br><br>
			
			<label for="complemento">Complemento</label>
		    <input type="text" th:field="*{endereco.complemento}">
		    <span class="erro" th:if="${#fields.hasErrors('endereco.complemento')}" th:errors="*{endereco.complemento}"></span>
		    <br><br>

		</fieldset>
	    
	    <button type="submit" class="btn-principal">Cadastrar</button>
	    
		</form>
	</div>
</body>
</html>