<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Editar Publicacao</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
  <div class="logo-header">
    <a th:href="@{/}">
      <img th:src="@{/images/certa.png}" alt="Logo" />
    </a>
  </div>
  <h1>Editar Dados</h1>
</header>

<div class="container">
  <form method="post" th:action="@{/publicacao/edit/{id}(id=${publicacao.id})}" th:object="${publicacao}">

    <label for="titulo">Titulo</label>
    <input type="text" th:field="*{titulo}">
    <span class="erro" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span> 	 	
    <br><br>

    <label for="descricao">Descrição</label>
    <textarea th:field="*{descricao}" id="descricao"></textarea>
    <br><br>
    
    <button type="submit" class="btn-principal">Salvar</button>
    <a class="btn btn-editar" th:href="@{/publicacao/perfil/{id}(id=${publicacao.id})}">Cancelar</button>

  </form>
</div>
</body>
</html>