<header>
    <div class="logo-header">
		<a th:href="@{/}">
	        <img th:src="@{/images/certa.png}" alt="Logo" />
		</a>
		
     </div>	
     <ul class="menu-header">
		<li class="item-menu-header"><a th:href="@{/politico/listar}"> Políticos </a></li>
		<li class="item-menu-header"><a th:href="@{/cidadao/cadastro}">Cadastre-se</a></li>
		<li class="item-menu-header">
			<form th:action="@{/logout}" method="post">
	            <button type="submit" style="margin-top: -15px; background-color: transparent; border: none;">
					<i class="bi bi-box-arrow-right" style="color: white; font-size: 1.4em;"></i>
	            </button>
	        </form>
	    </li>
	</ul>
</header>