<header>
    <div class="logo-header">
		<a th:href="@{/}">
	        <img th:src="@{/images/certa.png}" alt="Logo" />
		</a>
		
     </div>	
     <ul class="menu-header">
		<li class="item-menu-header"><a th:href="@{/politico/listar}"> Políticos </a></li>
		<li class="item-menu-header"><a th:href="@{/cidadao/cadastro}">Cadastre-se</a></li>
		<li class="item-menu-header">
			<form th:action="@{/logout}" method="post">
	            <input type="submit" value="Sair"/>
	        </form>
	    </li>
	</ul>
</header>