<header>
    <div class="logo-header">
		<a th:href="@{/}">
	        <img th:src="@{/images/certa.png}" alt="Logo" />
		</a>
		
     </div>

    <ul class="menu-header">
		<li class="item-menu-header">
	       <div class="dropdown">
	           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPolitico" data-bs-toggle="dropdown" aria-expanded="false">
	               Políticos
	           </button>
	           <ul class="dropdown-menu" aria-labelledby="dropdownPolitico">
	               <li sec:authorize="hasRole('ROLE_ADMIN')" ><a class="dropdown-item" th:href="@{/politico/cadastro}">Cadastrar</a></li>
	               <li><a class="dropdown-item" th:href="@{/politico/listar}">Listar</a></li>
				   <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{/partido}">Cadastrar Partido</a></li>
				   <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{/proposta/cadastro}">Cadastrar Propostas</a></li>
	           </ul>
	       </div>
	   </li>
	   <li class="item-menu-header" sec:authorize="hasRole('ROLE_ADMIN')">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPublicacoes" data-bs-toggle="dropdown" aria-expanded="false">
                  Publicações
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownPublicacoes">
                  <li><a class="dropdown-item" th:href="@{/publicacao/aprovar}">Aprovações</a></li>
                  <li><a class="dropdown-item" th:href="@{/comentario/denunciar}">Denuncias de Comentários</a></li>
                  <li><a class="dropdown-item" th:href="@{/publicacao/denunciar}">Denuncias de Publicações</a></li>
              </ul>
          </div>
      </li>
	  <li class="item-menu-header" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCidadao" data-bs-toggle="dropdown" aria-expanded="false">
                    Cidadãos
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownCidadao">
                    <li><a class="dropdown-item" th:href="@{/cidadao/listar}">Listar</a></li>
                </ul>
            </div>
        </li>
		<li class="item-menu-header" sec:authorize="hasRole('ROLE_USER')">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCidadao" data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.name}">
                    Usuário
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownCidadao">
					<li><a class="dropdown-item" th:href="@{/cidadao/perfil}">Perfil</a></li>
					<li>
						<form th:action="@{/logout}" method="post">
				            <button type="submit" style="color: #606060; background-color: transparent; border: none;" class="dropdown-item">
								Sair
				            </button>
				        </form>
					</li>
                </ul>
            </div>
        </li>
		<li class="item-menu-header" sec:authorize="isAnonymous()" style="margin-top: 4px;"><a th:href="@{/cidadao/cadastro}">Cadastre-se</a></li>
		<li class="item-menu-header" sec:authorize="isAnonymous()" style="margin-top: 4px;"><a th:href="@{/login}">Entrar</a></li>
	</ul>
</header>