<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <header >
      <div class="logo-header">
  			<a th:href="@{/}">
  		        <img th:src="@{/images/logo.jpeg}" alt="Logo" />
  			</a>
        </div>	
        <h1>Bem-vindo à Página Inicial</h1>
    </header>
    <main class="home-container">
        <nav class="home-menu">
            <form th:action="@{/politico/cadastro}" method="get">
                <button type="submit" class="home-button">Cadastro Político</button>
            </form>
            <form th:action="@{/partido}" method="get">
                <button type="submit" class="home-button">Cadastro Partido</button>
            </form>
            <form th:action="@{/cidadao/cadastro}" method="get">
                <button type="submit" class="home-button">Cadastro Cidadão</button>
            </form>
            <form th:action="@{/proposta}" method="get">
                <button type="submit" class="home-button">Cadastro Proposta</button>
            </form>
           <form th:action="@{/politico/listar}"  method="get">
             <button type="submit" class="home-button">Listar Politico</button>
          </form>
          <form th:action="@{/cidadao/listar}" method="get">
            <button type="submit" class="home-button">Listar Cidadaos</button>
          </form>
             
            
          
        </nav>
    </main>


</body>
</html>
