<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<header>
    	<h1>HOME</h1>
	</header>
    <a th:href="@{/politico}">POLITICO</a>

    <br><br>

    <a th:href="@{/partido}">PARTIDO</a>
	
	<br><br>
	
	<a th:href="@{/cidadao/cadastro}">CIDADÃO</a>
	
	<br><br>
	
	<a th:href="@{/proposta}">PROPOSTA</a>
	
	<br><br>
		
	<a th:href="@{/politico/listar}">LISTAGEM POLÍTICOS</a>

</body>
</html>