<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Publicacoes</title>
  <link rel="icon" type="image/png" href="/images/certa.png ">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
  <div class="logo-header">
    <a th:href="@{/}">
      <img th:src="@{/images/certa.png}" alt="Logo" />
    </a>
  </div>
  <h1>Publicacoes</h1>
</header>
<div class="container">

  <ul>
    <li th:each="publicacao : ${publicacoes}">
      <a th:href="@{/publicacao/perfil/{id}(id=${publicacao.id})}" th:text="${publicacao.titulo}"> </a>
    </li>
  </ul>
</div>
</body>
</html>