<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Proposta</title> 
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<header>
		<a class="linkMenu" th:href="@{/}">Home</a>
    	<h1>Propostas</h1>
	</header>
	<div class="container">
	  
	    <ul th:object="${proposta}">
	        <li >
	            <a th:href="@{/proposta/perfil/{id}(id=${proposta.id})}" th:each="proposta : ${propostas}" th:text="${proposta.titulo}"> </a>
	        </li>
	    </ul>
	</div>
</body>
</html>