<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="icon" type="image/png" href="/images/certa.png ">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div th:replace="header :: header"></div>

<div>
    <div class="cabecalho-perfil">
    
    	<form form th:action="@{/publicacao/edit/{id}(id=${publicacao.id})}" method="get">
    		<button type="submit" class="btn btn-editar">Editar Publicacao</button>
    	</form>
        <form th:action="@{/publicacao/delete/{id}(id=${publicacao.id})}" method="post"
              onsubmit="return confirm('Tem certeza que deseja excluir?')">
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit" class="btn btn-editar">Excluir</button>
        </form>
    </div>

    <div class="inline">
        <h5>Titulo: </h5>
        <span th:text="${publicacao.titulo}"></span>
    </div>

    <div class="inline">
        <h5>Descrição: </h5>
        <span th:text="${publicacao.descricao}">
    </div>

    <div class="inline">
        <h5>Cidadão: </h5>
        <span th:text="${publicacao.cidadao.nome}">
    </div>

    <div class="inline">
        <h5>Data: </h5>
        <span th:text="${publicacao.dataPublicacao}">
    </div>
    
    <div class="inline">
        <h5>Avaliação: </h5>
        <span th:text="${publicacao.avaliacao}">
    </div>
</div>

</body>
</html>