<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<header>
		<a class="linkMenu" th:href="@{/}">Home</a>
    	<h1>PERFIL CIDADÃO</h1>
	</header>
	<div>
		<div class="inline">
			<h3>Nome: </h3> 
			<span th:text="${cidadao.nome}"></span>
		</div>
		<div class="inline">
			<h3>Email: </h3>
			<span th:text="${cidadao.email}">
		</div>
		<div class="inline">
			<h3>CPF: </h3>
			<span th:text="${cidadao.cpf}">
		</div>
		<div class="inline">
			<h3>Telefone: </h3>
			<span th:text="${cidadao.telefone}">
		</div>
		<div class="inline">
			<h3>Data de nascimento: </h3>
			<span th:text="${#dates.format(cidadao.dataNascimento, 'dd/MM/yyyy')}">
		</div>
		
		<hr>
		
		<div class="inline">
			<h3>CEP: </h3>
			<span th:text="${cidadao.endereco.cep}">
		</div>
		<div class="inline">
			<h3>Estado: </h3>
			<span th:text="${cidadao.endereco.estado}">
		</div>
		<div class="inline">
			<h3>Cidade: </h3>
			<span th:text="${cidadao.endereco.cidade}">
		</div>
		<div class="inline">
			<h3>Logradouro: </h3>
			<span th:text="${cidadao.endereco.logradouro}">
		</div>
		<div class="inline">
			<h3>Número: </h3>
			<span th:text="${cidadao.endereco.numero}">
		</div>
		<div class="inline">
			<h3>Complemento: </h3>
			<span th:text="${cidadao.endereco.complemento}">
		</div>
		
	</div>
    
</body>
</html>