<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="header :: header"></div>

<div>
    <div class="cabecalho-perfil" th:if="${permissao}"	>
    
    	<form form th:action="@{/publicacao/edit/{id}(id=${publicacao.id})}" method="get">
    		<button type="submit" class="btn btn-editar">Editar Publicacao</button>
    	</form>
    	
        <form th:action="@{/publicacao/delete/{id}(id=${publicacao.id})}" method="post"
              onsubmit="return confirm('Tem certeza que deseja excluir?')">
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit" class="btn btn-editar">Excluir</button>
        </form>
        
    </div>

    <div class="inline">
        <h5>Titulo: </h5>
        <span th:text="${publicacao.titulo}"></span>
    </div>

    <div class="inline">
        <h5>Descrição: </h5>
        <span th:text="${publicacao.descricao}">
    </div>

    <div class="inline">
        <h5>Cidadão: </h5>
        <span th:text="${publicacao.cidadao.nome}">
    </div>

    <div class="inline">
        <h5>Data: </h5>
        <span th:text="${publicacao.dataPublicacao}">
    </div>
    
    <div class="inline">
        <h5>Avaliação: </h5>
        <span th:text="${publicacao.avaliacao}">
    </div>

    <div>
        <h3>Comentários</h3>
        <form action="/comentarios/cadastro/${publicacao.id}" method="post">
            <textarea name="texto" rows="3" placeholder="Digite seu comentário aqui"></textarea>
            <div>
                <button type="submit">Confirmar</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
    </div>

    <div>
        <h4>Comentários já enviados:</h4>
        <ul>
            <c:forEach var="comentario" items="${comentarios}">
                <li>${comentario.texto}</li>
            </c:forEach>
        </ul>
    </div>

</div>

</body>
</html>