<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<header>
		<a class="linkMenu" th:href="@{/}">Home</a>
    	<h1>PERFIL POLÍTICO</h1>
	</header>
	<div>
		<div class="inline">
			<h3>Nome: </h3> 
			<span th:text="${politico.nome}"></span>
		</div>
		<div class="inline">
			<h3>Cargo: </h3>
			<span th:text="${politico.cargo}">
		</div>
		<div class="inline">
			<h3>Nome eleitoral: </h3>
			<span th:text="${politico.nomeEleitoral}">
		</div>
		<div class="inline">
			<h3>Número eleitoral: </h3>
			<span th:text="${politico.numeroEleitoral}">
		</div>
		<div class="inline">
			<h3>Registro candidatura: </h3>
			<span th:text="${politico.registroCandidatura}">
		</div>
		<div class="inline">
			<h3>Data de nascimento: </h3>
			<span th:text="${#dates.format(politico.dataNascimento, 'dd/MM/yyyy')}">
		</div>
		<div class="inline">
			<h3>Contato: </h3>
			<span th:text="${politico.contato}">
		</div>
		<div class="inline">
			<h3>Partido: </h3>
			<span th:text="${politico.partido.sigla}">
		</div>
		
	</div>
    
</body>
</html>