<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="header :: header"></div>
<div class="body-publicacao">
	<div class="publicacao-principal">
		<div class="cabecalho-perfil-publicacao" th:if="${logado}">
	
	    	<form form th:action="@{/publicacao/edit/{id}(id=${publicacao.id})}" method="get" th:if="${permissao}">
	    		<button type="submit" class="btn btn-outline-warning">Editar <i class="bi bi-pencil"></i></button>
	    	</form>
	
	        <form th:action="@{/publicacao/delete/{id}(id=${publicacao.id})}" method="post"
	              onsubmit="return confirm('Tem certeza que deseja excluir?')" th:if="${permissao}">
	            <input type="hidden" name="_method" value="DELETE"/>
	            <button type="submit" class="btn btn-outline-danger">Excluir <i class="bi bi-trash3"></i></button>
	        </form>
	        
	        <form th:action="@{/publicacao/aprovarDenuncia/{id}(id=${publicacao.id})}" method="post">
				<input type="hidden" name="status" value="analise" />
				<button type="submit" class="btn btn-danger">Denunciar</button>
			</form>
	
	    </div>
	
		<div class="inline">
	        <h5 th:text="${publicacao.titulo}">Titulo </h5>
	    </div>
	
	    <div class="inline">
	        <h6 th:text="${publicacao.descricao}">Descrição: </h6>
	    </div>
	    
	    <div style="display: flex;" class="inline" sec:authorize="hasRole('ROLE_ADMIN')">
	        <span class="span-bold">Cidadão: </span>
	        <span th:text="${publicacao.cidadao.nome}">
	    </div>
	
	    <div style="display: flex;" class="inline">
	        <span class="span-bold">Data: </span>
	       	<span th:text="${publicacao.dataPublicacao}">
	    </div>
	
	    <div style="display: flex;" class="inline">
	        <span class="span-bold">Avaliação: </span>
	        <span th:text="${publicacao.avaliacao}">
	    </div>

		<div class="comentarios inline">
	        <hr>	
	        <h5>Comentários</h5>
	        <form th:action="@{/comentario/listar}" method="get">
	            <ul>
	            	<li th:each="comentario : ${comentarios}">
	            		<a th:href="@{/comentario/perfil/{id}(id=${comentario.id})}" th:text="${comentario.texto}"></a>
	                </li>
	            </ul>
	        </form>
	    </div>
	</div>
    
    <div class="adicionar-comentario" th:if="${comentar}">
        <h4>Adicionar comentário</h4>
        <form method="post" th:action="@{/comentario/cadastro/{id}(id=${publicacao.id})}" th:object="${publicacao}">
            <input name="texto" type="text" placeholder="Digite seu comentário aqui">
            <div>
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <button type="reset" class="btn btn-outline-secondary">Cancelar</button><br><br>
            </div>
        </form>
    </div>

    
</div>

<!-- Pop-up -->
    <div id="popup-overlay"></div>
    <div id="popup">
        <p>Estamos avaliando sua denuncia.</p>
    </div>
    
    <script src="/js/popupAprovacao.js"></script>

</body>
</html>