<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<header>
		<a class="linkMenu" th:href="@{/}">Home</a>
    	<h1>PERFIL POLÍTICO</h1>
	</header>
    <h3>Nome: <span th:text="${politico.nome}"></span></h3>
	
	<h3>Cargo: <span th:text="${politico.cargo}"></h3>
	
	<h3>Nome Eleitoral: <span th:text="${politico.nomeEleitoral}"></h3>
	
	<h3>Número Eleitoral: <span th:text="${politico.numeroEleitoral}"></h3>
	
	<h3>Registro Candidatura: <span th:text="${politico.registroCandidatura}"></h3>
	
<!--	<h3>Data de nascimento: <span th:text="${#dates.format(politico.dataNascimento, 'dd/MM/yyyy')}"> </h3>
-->	
	<h3>Contato: <span th:text="${politico.contato}"></h3>
	
	<h3>Partido: <span th:text="${politico.partido.sigla}"></h3>
	
</body>
</html>