<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

	<div th:replace="header :: header"></div>
	
	<div class="container">
		<form method="post" th:action="@{/proposta}" th:object="${proposta}">

			<!--CODIGO PARA SALVAR POLITICO USANDO CAMPO DE TEXTO DIGITANDO NOME-->
			<!--<label for="politico">Politico</label>
			<br>
			<input id="politico" type="text" th:field="*{politico.nome}">-->

			<label for="politico"><strong>Político</strong></label>
			<select id="politico" th:field="*{politico}">
				<option value="">Selecione um Político</option>
				<option th:each="politico : ${politicos}" th:value="${politico.id}" th:text="${politico.nome}" selected="selected"></option>
			</select>

			<br><br>

			<label for="categoria"><strong>Categoria</strong></label>
			<select id="categoria" th:field="*{categoria}">
				<option value="">Selecione uma Categoria</option>
				<option th:each="categoria : ${categorias}" th:value="${categoria}"
					th:text="${categoria.descricao}" selected="selected">
				</option>
			</select>

			<br><br>

			<label for="titulo"><strong>Título</strong></label>
			<input type="text" th:field="*{titulo}" maxlength="200">

			<br><br>

			<label for="texto"><strong>Área de Texto</strong></label>
			<textarea id="texto" th:field="*{descricao}" ></textarea>

			<br><br>
			
			

			<!-- <label for="nota">NOTA</label>
			<br>
				<div class="nota-group">
					<label><input type="radio" name="nota" th:field="${proposta.nota}" value="1"/> 1</label>
					<label><input type="radio" name="nota" th:field="${proposta.nota}" value="2"/> 2</label>
					<label><input type="radio" name="nota" th:field="${proposta.nota}" value="3"/> 3</label>
					<label><input type="radio" name="nota" th:field="${proposta.nota}" value="4"/> 4</label>
					<label><input type="radio" name="nota" th:field="${proposta.nota}" value="5"/> 5</label>
				</div>

			<br><br> -->
			<br><br>

			<button type="submit" class="btn-principal">Salvar</button>
		</form>
	</div>
</body>
</html>