<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="header :: header"></div>

<div class="container">
  <form method="post" th:action="@{/publicacao/cadastro/{id}(id=${politico.id})}" th:object="${publicacao}">
  
  	<label for="avaliacao"><strong>Avaliação</strong></label>
  	<div class="stars" id="avaliacao">
      <span class="star" data-value="1">&#9733;</span>
      <span class="star" data-value="2">&#9733;</span>
      <span class="star" data-value="3">&#9733;</span>
      <span class="star" data-value="4">&#9733;</span>
      <span class="star" data-value="5">&#9733;</span>
    </div>
    <input type="hidden" id="avaliacaoInput" name="avaliacao" value="0">
    <br><br>
  	
    <label for="titulo"><strong>Título</strong></label>
    <input type="text" th:field="*{titulo}" id="titulo">
    <span class="erro" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
    <br><br>

    <label for="descricao"><strong>Descrição</strong></label>
    <textarea th:field="*{descricao}" id="descricao"></textarea>
    <span class="erro" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
    <br><br><br>

    <label for="anexo"><strong>Anexo</strong></label>
    <input type="file" th:field="*{anexo}" id="anexo">
    <br><br>

    <!-- <label for="resposta"><strong>Resposta</strong></label>
    <input type="text" th:field="*{resposta}" id="resposta">
    <span class="erro" th:if="${#fields.hasErrors('resposta')}" th:errors="*{resposta}"></span>
    <br><br> -->

    <button type="submit" class="btn-principal">Cadastrar</button>
  </form>
</div>
	
	<script src="/js/avaliacao.js"></script>
		
</body>
</html>
