<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Realizar Publicacao</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
  <div class="logo-header">
    <a th:href="@{/}">
      <img th:src="@{/images/logo.jpeg}" alt="Logo" />
    </a>
  </div>
  <h1>Realizar Publicacao</h1>
</header>
<div class="container">
  <form method="post" th:action="@{/publicacao/cadastro/{id}(id=${politico.id})}" th:object="${publicacao}">

    <label for="titulo">Titulo</label>
    <input type="text" th:field="*{titulo}" id="titulo">
    <span class="erro" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
    <br><br>

    <label for="descricao">Descricao</label>
    <textarea th:field="*{descricao}" id="descricao"></textarea>
    <br><br>

    <!-- TODO GAMBIARRA - HTML - remover o select e pegar o cidadao pela sessao-->
    <label for="cidadao">Cidadão (GAMBIARRA, PEGAR O CIDADAO LOGADO PELA SESSAO)</label>
    <select th:field="*{cidadao}" id="cidadao">
      <option value="">Selecione o cidadao</option>
      <option th:each="cidadao : ${cidadaos}" th:value="${cidadao.id}" th:text="${cidadao.nome}" selected="selected"></option>
    </select>
    <span class="erro" th:if="${#fields.hasErrors('cidadao')}" th:errors="*{cidadao}"></span>
    <br><br>

   <!--  <label for="proposta">Proposta</label>
    <select th:field="*{proposta}" id="proposta">
      <option value="">Selecione a proposta</option>
      <option th:each="proposta : ${propostas}" th:value="${proposta.id}" th:text="${proposta.titulo}" selected="selected"></option>
    </select>
    <span class="erro" th:if="${#fields.hasErrors('proposta')}" th:errors="*{proposta}"></span>
    <br><br> -->

    <!-- <label for="politico">Politico</label>
    <select th:field="*{politico}" id="politico">
      <option value="">Selecione o politico</option>
      <option th:each="politico : ${politicos}" th:value="${politico.id}" th:text="${politico.nome}" selected="selected"></option>
    </select>
    <span class="erro" th:if="${#fields.hasErrors('politico')}" th:errors="*{politico}"></span>
    <br><br> -->

    <!--DEFINIR DATA E HORA MANUALMENTE-->
    <!--<label for="dataPubli">Data publicacao</label>
    <input type="date" th:field="*{data_publicacao}" id="dataPubli">
    <span class="erro" th:if="${#fields.hasErrors('data_publicacao')}" th:errors="*{data_publicacao}"></span>
    <br><br>-->

    <label for="anexo">Anexo</label>
    <input type="file" th:field="*{anexo}" id="anexo">
    <br><br>

    <!-- <label for="resposta">Resposta</label>
    <input type="text" th:field="*{resposta}" id="resposta">
    <span class="erro" th:if="${#fields.hasErrors('resposta')}" th:errors="*{resposta}"></span>
    <br><br> -->

    <button type="submit" class="btn-principal">Cadastrar</button>
  </form>
</div>
</body>
</html>
